DB_HOST=localhost
DB_USER=kevin
DB_PASSWORD=1234
DB_NAME=farmers_conekt

FLUTTERWAVE_SECRET_KEY=your_flutterwave_secret_key
FLUTTERWAVE_PUBLIC_KEY=your_flutterwave_public_key
FLUTTERWAVE_BASE_URL=https://api.flutterwave.com
FLUTTERWAVE_REDIRECT_URL=your_redirect_url
FLUTTERWAVE_CURRENCY=RWF
