DB_HOST=localhost
DB_USER=kevin
DB_PASSWORD=1234
DB_NAME=farmers_conekt

MOMO_SUBSCRIPTION_KEY = "your_subscription_key"
MOMO_API_USER = "your_api_user"
MOMO_API_KEY = "your_api_key"
MOMO_BASE_URL = "https://sandbox.momodeveloper.mtn.com"
